[tool.isort]
profile = "black"

[tool.mypy]
warn_unreachable = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
ignore_missing_imports = true

[tool.ruff]
line-length = 120
select = ["E", "F", "I", "C90", "N", "S", "PIE", "PL", "RUF"]
ignore = ["E501"]
per-file-ignores = {"tests/test*.py"= ["S101"], "cli/cli.py"=["E999"]}
fix = true

[tool.ruff.pep8-naming]
classmethod-decorators = ["classmehod", "pydantic.validator"]
